<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice</th>
            <th>Date</th>
            <th>Title</th>
            <th>Member name</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% data.map((item, index) => { %>
            <tr>
              <td>
                <%= index + 1 %>
              </td>

              <td>
                #<%= item.invoice %>
              </td>

              <td>
                <%= item.startDate.toLocaleString().split(',')[0] %> - <%= item.endDate.toLocaleString().split(',')[0] %>
              </td>

              <td>
                <%= item.items.title %>
              </td>

              <td>
                <%= item.members.firstName %> <%= item.members.lastName %>
              </td>

              <td>
                <%= item.payments.status %>
              </td>

              <td class="d-flex">
                <a href="/booking/detail/<%= item._id %>" class="btn btn-sm btn-circle btn-primary">
                  <i class="fas fa-eye"></i>
                </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>